<div class="admin-container">

<div class="header-bar">
<h2 class="page-title">Admin Appointment Management</h2>

<button class="back-btn" routerLink="/admin">
← Back
</button>
</div>

<p class="count-info">
Total Appointments: {{ appointments.length }}
</p>

<div class="filter-bar">

<input
type="date"
[(ngModel)]="selectedDate"
(change)="applyFilters()"
class="date-filter"
/>

<select
[(ngModel)]="statusFilter"
(change)="applyFilters()"
class="status-filter"
>

<option value="">All Status</option>
<option value="pending">Pending</option>
<option value="approved">Approved</option>
<option value="rejected">Rejected</option>
<option value="completed">Completed</option>
<option value="cancelled_by_patient">Cancelled</option>

</select>

<button class="clear-filter" (click)="clearFilters()">
Clear Filters
</button>

</div>


<div *ngIf="loading" class="loading">
Loading appointments...
</div>


<table *ngIf="!loading" class="appointment-table">

<thead>

<tr>
<th>Patient</th>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
<th>Action</th>
</tr>

</thead>


<tbody>

<tr *ngFor="let appt of filteredAppointments">

<td>{{ appt.patient?.email }}</td>

<td>{{ appt.doctor?.name }}</td>

<td>{{ appt.appointmentDate | date }}</td>

<td>{{ appt.appointmentTime }}</td>

<td>
<span class="status" [ngClass]="appt.status">
{{ appt.status }}
</span>
</td>


   <td>

  <!-- ✅ BEFORE TIME → ONLY PENDING -->
  <button
    class="btn approve"
    (click)="updateStatus(appt._id,'approved')"
    *ngIf="appt.status === 'pending' && isFuture(appt)">
    Approve
  </button>

  <button
    class="btn reject"
    (click)="updateStatus(appt._id,'rejected')"
    *ngIf="appt.status === 'pending' && isFuture(appt)">
    Reject
  </button>

  <!-- ✅ AFTER TIME → ONLY APPROVED -->
  <button
    class="btn complete"
    (click)="updateStatus(appt._id,'completed')"
    *ngIf="appt.status === 'approved' && !isFuture(appt)">
    Completed
  </button>


</td>

</tr>

<tr *ngIf="filteredAppointments.length === 0">
<td colspan="6" class="empty-cell">
No appointments found
</td>
</tr>

</tbody>

</table>

</div>